@charset "ISO-8859-1";

body {
	background-color: #192229 !important;
	text-align: center!important;
	
	color: white !important;
}

.container {
	background-color: #212E36 !important;
	text-align: center !important;
	color: white !important;
	border-radius: 25px;
}

.card {
	background-color: #212E36 !important;
}

.list-group-item{
	background-color: #212E36 !important;
}

.btn{
	background-color: #52A5E0 !important;
}

 .sin-numero {
      list-style-type: none;
    }
